/* MobileDeviceFrame.scss */
.mobile-device-frame {
  width: var(--mobile-width);
  height: var(--mobile-height);
  padding: 8px;
  background-color: #000;
  border-radius: 37px;
  position: relative;
  overflow: visible;
  margin-top: 10% !important;
  z-index: 0;
}
